body {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, 275px);
  justify-content: center;
  text-align: center;
  background-color: whitesmoke;
}

.app-wrapper {
  width: 300px;
  height: 500px;
  margin: 10px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
  box-shadow: 5px 5px 5px #999;
}
